body {
  margin: 0px;
  background-color: #e9a1c9;
}

:root {
}

#main-header {
  border: 4px solid black;
  text-align: center;
  font-size: larger;
  color: darkslateblue;
  margin: 0px 0px 0px 0px;
  background-color: #a6cef1;
  border-radius: 10px;
}

#section1 {
  border: 4px solid black;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
  height: 200px;
  width: 50%;
  background-color: #e88d4b;
}

#section1 ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 30px;
}
.list a {
  text-decoration: none;
}

#section1 i {
  position: absolute;
  right: 27%;
  font-size: 30px;
}
#section1 i:hover {
  font-size: 40px;
  color: rgb(200, 79, 79);
}
#div1 {
  text-align: center;
  padding: 50px 50px 15px 50px;
}
.button-list {
  border-radius: 10px;
  background-color: cyan;
  width: 55px;
}
button[type="submit"] {
  font-size: 18px;
  border-color: ghostwhite;
  border-radius: 20px;
  background-color: black;
  color: cornsilk;
  cursor: pointer;
}

#answer {
  display: none;
}

#section2 {
  border: 4px solid black;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
  height: 200px;
  width: 50%;
  background-color: #6fbda3;
}
#section2 ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 30px;
}
#section2 i {
  position: absolute;
  right: 27%;
  font-size: 30px;
}
#section2 i:hover {
  font-size: 40px;
  color: rgb(200, 79, 79);
}

#div2 {
  text-align: center;
  padding: 50px 50px 15px 50px;
}
#answer2 {
  display: none;
}

#section3 {
  border: 4px solid black;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
  height: 200px;
  width: 50%;
  background-color: #d1c5b6;
}

#section3 ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 30px;
}
.list a {
  text-decoration: none;
}

#section3 i {
  position: absolute;
  right: 27%;
  font-size: 30px;
}
#section3 i:hover {
  font-size: 40px;
  color: rgb(200, 79, 79);
}
#div3 {
  text-align: center;
  padding: 50px 50px 15px 50px;
}

#answer3 {
  display: none;
}
#section4 {
  border: 4px solid black;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
  height: 200px;
  width: 50%;
  background-color: #54c9c9;
}

#section4 ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 30px;
}
.list a {
  text-decoration: none;
}

#section4 i {
  position: absolute;
  right: 27%;
  font-size: 30px;
}
#section4 i:hover {
  font-size: 40px;
  color: rgb(200, 79, 79);
}
#div4 {
  text-align: center;
  padding: 50px 50px 15px 50px;
}

#answer4 {
  display: none;
}

#section5 {
  border: 4px solid black;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
  height: 250px;
  width: 50%;
  background-color: #8863ab;
}

#section5 ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 30px;
}
.list a {
  text-decoration: none;
}

#section5 i {
  position: absolute;
  right: 27%;
  font-size: 30px;
}
#section5 i:hover {
  font-size: 40px;
  color: rgb(200, 79, 79);
}
#div5 {
  text-align: center;
  padding: 50px 50px 15px 50px;
}

#answer5 {
  display: none;
}

.footer {
  margin: 40px;
  border: 4px solid black;
  text-align: center;
  font-size: larger;
  color: darkslateblue;
  margin: 0px 0px 0px 0px;
  background-color: #a6cef1;
  margin-top: 40px;
  border-radius: 10px;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 99.5%;
  color: white;
  text-align: center;
}

.footer ul {
  list-style: none;
  display: flex;
  gap: 45%;
}
.fa-regular:hover {
  font-size: 50px;
}
.fa-sharp:hover {
  font-size: 50px;
}
#bookmark-section {
  text-align: center;
}

#profile-section1 {
  height: 250px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
}
#profile-section1 ul {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 30px;
}

.profile-list {
  list-style: none;
}

.profile-list img {
  height: 200px;
  border-radius: 100px;
}
#profile-section2 {
  height: 250px;
  width: 80%;
  margin: auto;
  /* padding-top: 30px; */
  /* padding-left: 20px; */
  color: #3a400b;
  font-family: monospace;
  font-size: 20px;
  border-radius: 20px;
}

#profile-section3 {
  height: 150px;
  width: 80%;
  margin: auto;
  border-radius: 20px;
}
#profile-section3 ul {
  display: flex;
  gap: 200px;
  align-items: center;
  /* font-size: 30px; */
  border-radius: 20px;
}

.icon-button {
  font-size: larger;
  width: 100px;
  height: 100px;
  text-align: left;
  border-radius: 40px;
  border-color: cornsilk;
  cursor: pointer;
}

#profile-section4 {
  height: 300px;
  width: 80%;
  margin: auto;
  margin-top: 0px;
  color: #6d6de0;
  border-radius: 20px;
}

#profile-section4 h3 {
  margin-left: 40px;
  font-size: 30px;
}

#profile-section4 ul {
  display: flex;
  gap: 80%;
  font-size: 20px;
}
.fa-sharp {
  font-size: 30px;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  body {
    background-color: #9c9cea;
  }
  #div1,
  #div2,
  #div3,
  #div4,
  #div5 {
    padding: 6px 6px 6px 6px;
  }
  .footer ul {
    gap: 40%;
  }
}

@media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
}
